{% extends "Mascoteros/parent.html" %}
{% load static %}
{% block contenidoDinamico %}

<h1 class="card-title">Portal de Establecimientos </h1>
<a href="{% url 'EstablecimientosCrear' %}" class="btn btn-dark active float-right" role="button" aria-pressed="true">Nueva Entrada</a>
<form action="/Mascoteros/resultadoEstablecimientos/" method="GET">
    <input type="text" name="nombre">
    <input class="btn btn-dark active float-right" type="submit" value="Buscar">
</form>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
    {% for establecimiento in object_list %}
    <div class="col mb-5">
        <a href="{% url 'EstablecimientosDetalle' establecimiento.id %}">
            <div class="card h-100">
                <!-- Item image-->
                <img class="card-img-top-list" src="{{establecimiento.imagen.url}}" alt="..." />
                <!-- Item details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Item name-->
                        <h5 class="fw-bolder">{{establecimiento.nombre}}</h5>
                    </div>
                </div>
            </div>
        </a>
    </div> 
    {% endfor %}    
</div>    
        <ul>
            {% for establecimiento in object_list %}
            <li>
                {{ establecimiento.nombre }}
                <a href="{% url 'EstablecimientosDetalle' establecimiento.id %}" > Ver </a>
                <a href="{% url 'EstablecimientosEditar' establecimiento.id %}" > Editar </a>
                <a href="{% url 'EstablecimientosBorrar' establecimiento.id %}" > Borrar </a>
            </li>
            {% endfor %}
            
        </ul>

{% endblock %}