{% extends "Mascoteros/parent.html" %}
{% load static %}
{% block contenidoDinamico %}

<h1 class="card-title">Portal de Productos </h1>
<a href="{% url 'ProductosCrear' %}" class="btn btn-dark active float-right" role="button" aria-pressed="true">Nueva Entrada</a>
<a href="#" class="btn btn-dark active float-right" role="button" aria-pressed="true">Buscar Producto</a>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for producto in object_list %}
            <a href="{% url 'ProductosDetalle' producto.id %}">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top-list" src="{{producto.imagen.url}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{producto.nombre}}</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                    </div>
                </div> 
            </a>   
            {% endfor %}    
        </div>    
        <ul>
            {% for pruducto in object_list %}
            <li>
                {{ pruducto.nombre }}
                <a href="{% url 'ProductosDetalle' pruducto.id %}" > Ver </a>
                <a href="{% url 'ProductosEditar' pruducto.id %}" > Editar </a>
                <a href="{% url 'ProductosBorrar' pruducto.id %}" > Borrar </a>
            </li>
            {% endfor %}
            
        </ul>

{% endblock %}